{% extends '../layouts/base.html' %}

{% load show_bulk_delete_modal %}

{% block content %}
{{ block.super }}

<table class="table table-striped">
    <tbody>
        {% for record in historical_data %}
        <tr>
            <td class="align-middle">
                {% if record.day %}
                <strong>{{ record.day|date }}</strong><br>
                {% elif record.month %}
                <strong>{{ record.month|date:"F" }}</strong><br>
                {% else %}
                <strong>{{ record.year|date:"Y" }}</strong><br>
                {% endif %}
                <small>{{ record.records_count }} records</small>
            </td>
            <td class="align-middle">
                <strong>{{ record.average_consumption|floatformat:"0" }} MW</strong><br>
                <small>Average consumption</small>
            </td>
            <td class="align-middle">
                {% if record.day %}
                <div class="btn-group float-right" role="group">
                    <a class="btn btn-primary float-right" href="{% url "consumption:historical-data:detail" record.day|date:"Y" record.day|date:"m" record.day|date:"d" %}">
                        <i class="fas fa-eye"></i> View
                    </a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove-record-{{ record.day|date:"Y" }}-{{ record.day|date:"m" }}-{{ record.day|date:"d" }}">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                </div>
                {% show_bulk_delete_modal record.records_count "consumption:historical-data:delete-day" day=record.day %}
                {% elif record.month %}
                <div class="btn-group float-right" role="group">
                    <a class="btn btn-primary float-right" href="{% url "consumption:historical-data:list-month" record.month|date:"Y" record.month|date:"m" %}">
                        <i class="fas fa-eye"></i> View
                    </a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove-record-{{ record.month|date:"Y" }}-{{ record.month|date:"m" }}">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                </div>
                {% show_bulk_delete_modal record.records_count "consumption:historical-data:delete-month" month=record.month %}
                {% else %}
                <div class="btn-group float-right" role="group">
                    <a class="btn btn-primary float-right" href="{% url "consumption:historical-data:list-year" record.year|date:"Y" %}">
                        <i class="fas fa-eye"></i> View
                    </a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove-record-{{ record.year|date:"Y" }}">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                </div>
                {% show_bulk_delete_modal record.records_count "consumption:historical-data:delete-year" year=record.year %}
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">There is no Consumption data yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}