{% extends 'core/base.html' %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4"><i class="fas fa-cloud-sun"></i> Weather</h1>
        <p class="lead">Here you'll find weather historical data and the forecast for tomorrow. You can also create, import and modify data.</p>
    </div>
</div>

{% include '../partials/navigation.html' %}

{% if request.resolver_match.namespace == "weather:historical-data" %}
{% include '../partials/navigation_historical_data.html' %}
{% include '../partials/breadcrumb_historical_data.html' %}
{% endif %}

{% endblock %}