{% with view_name=request.resolver_match.view_name %}
<ul class="nav nav-pills nav-fill py-3">
    <li class="nav-item">
        <a class="nav-link{% if "weather:historical-data:list" in view_name or "weather:historical-data:detail" in view_name %} active{% endif %}" href="{% url "weather:historical-data:list" %}">
            <i class="fas fa-th-list"></i> List
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if view_name == "weather:historical-data:create" %} active{% endif %}" href="{% url "weather:historical-data:create" %}">
            <i class="fas fa-plus"></i> Create
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if view_name == "weather:historical-data:download" %} active{% endif %}" href="{% url "weather:historical-data:download" %}">
            <i class="fas fa-download"></i> Download
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if view_name == "weather:historical-data:import" %} active{% endif %}" href="{% url "weather:historical-data:import" %}">
            <i class="fas fa-file-import"></i> Import
        </a>
    </li>
</ul>
{% endwith %}